*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.app{
  background-color: #c1d6f7;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 10vw;
  height: 8vh;
  border-radius: 1em;
  color: black;
  background-color: rgb(49, 199, 189);
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
.btn:hover{
  color:black;
}
.main{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
